[submodule "lib/rctjavalib"]
	path = lib/rctjavalib
	url = https://github.com/baumus/rctjavalib.git
[submodule "lib/javascript-lp-solver"]
	path = lib/javascript-lp-solver
	url = https://github.com/JWally/jsLPSolver.git
